Repository Glatzel/toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-yaml, check-json, check-toml, actionlint, toml-format, numpydoc, cargo-fmt, cargo-clippy

check-ast:
  name: check-ast
  entry: pixi run --manifest-path ./pre-commit/pixi.toml check-added-large-files
  language: system
  stages:
  - pre-commit
  - manual

check-yaml:
  name: check-yaml
  entry: pixi run --manifest-path ./pre-commit/pixi.toml check-yaml
  language: system
  stages:
  - pre-commit
  - manual

check-json:
  name: check-json
  entry: pixi run --manifest-path ./pre-commit/pixi.toml check-json
  language: system
  stages:
  - pre-commit
  - manual

check-toml:
  name: check-toml
  entry: pixi run --manifest-path ./pre-commit/pixi.toml check-toml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --manifest-path ./pre-commit/pixi.toml actionlint
  stages:
  - pre-commit
  - manual

toml-format:
  name: TOML format
  entry: pixi run --manifest-path ./pre-commit/pixi.toml toml-format
  language: system
  stages:
  - pre-commit
  - manual

numpydoc:
  name: numpydoc
  entry: pixi run --manifest-path ./pre-commit/pixi.toml numpydoc-check
  language: system
  stages:
  - pre-commit
  - manual

cargo-fmt:
  name: cargo-fmt
  entry: pwsh -NoProfile -Command "$ErrorActionPreference ='Stop';$PSNativeCommandUseErrorActionPreference = $true;foreach ($f in $args) { &$f}"
  language: system
  require_serial: true
  stages:
  - pre-commit
  - manual

cargo-clippy:
  name: cargo-clippy
  entry: pwsh -NoProfile -Command "$ErrorActionPreference ='Stop';$PSNativeCommandUseErrorActionPreference = $true;foreach ($f in $args) { &$f}"
  language: system
  require_serial: true
  stages:
  - pre-commit
  - manual

ci: pre-commit (#65)
  .pre-commit-config.yaml
  pre-commit/pixi.lock
  pre-commit/pixi.toml
  pre-commit/pre-commit.ps1
  pre-commit/ruff.toml
  pre-commit/rustfmt.toml
Due: check-yaml, check-toml, toml-format

chore: update configuration files synced local './rust/rustfmt.toml' with remote './rust/rustfmt.toml'
  rust/rustfmt.toml
Due: check-toml, toml-format

chore: update configuration files created local './ruff.toml' from remote './python/ruff.toml'
  ruff.toml
Due: check-toml, toml-format

chore: update configuration files synced file(s) with Glatzel/template (#66)
  ruff.toml
  rust/rustfmt.toml
  rust/src/file.rs
  rust/src/term.rs
Due: check-toml, toml-format

chore: update configuration files synced local './pre-commit/' with remote './pre-commit/'
  pre-commit/pixi.lock
  pre-commit/pixi.toml
  pre-commit/pre-commit.ps1
Due: check-toml, toml-format

chore: update configuration files synced local './ruff.toml' with remote './python/ruff.toml'
  ruff.toml
Due: check-toml, toml-format

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: check-yaml

chore: update configuration files synced file(s) with Glatzel/template (#67)
  .pre-commit-config.yaml
  pre-commit/pixi.lock
  pre-commit/pixi.toml
  pre-commit/pre-commit.ps1
  ruff.toml
Due: check-yaml, check-toml, toml-format

fix
  .pre-commit-config.yaml
  typos.toml
Due: check-yaml, check-toml, toml-format

ci: typos (#68)
  .pre-commit-config.yaml
  typos.toml
Due: check-yaml, check-toml, toml-format

chore: update configuration files synced local './pre-commit/' with remote './pre-commit/'
  pre-commit/pixi.toml
Due: check-toml, toml-format

chore: update configuration files synced file(s) with Glatzel/template (#69)
  pre-commit/pixi.toml
Due: check-toml, toml-format

chore: update configuration files synced local './cliff.toml' with remote './common/cliff.toml'
  cliff.toml
Due: check-toml, toml-format

chore: update configuration files synced file(s) with Glatzel/template (#70)
  cliff.toml
Due: check-toml, toml-format

chore: update configuration files synced local './pre-commit/' with remote './pre-commit/'
  pre-commit/pixi.lock
  pre-commit/pixi.toml
Due: check-toml, toml-format

chore: update configuration files synced file(s) with Glatzel/template (#71)
  pre-commit/pixi.lock
  pre-commit/pixi.toml
Due: check-toml, toml-format

fix
  python/src/clerk/clerk.py
Due: check-ast, numpydoc

chore: update configuration files synced file(s) with Glatzel/template (#73)
  cliff.toml
  python/src/clerk/clerk.py
  ruff.toml
Due: check-ast, check-toml, toml-format, numpydoc

fix: log
  rust/src/macros.rs
Due: none

fix
  scripts/update-version.ps1
Due: none

fix
  python/rattler/recipe.yaml
  rust/Cargo.lock
  rust/Cargo.toml
Due: check-yaml, check-toml, toml-format

fix(rust): null macro (#74)
  python/rattler/recipe.yaml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/macros.rs
  scripts/update-version.ps1
Due: check-yaml, check-toml, toml-format

chore: update changelog.md
  changelog.md
Due: none

chore: update configuration files synced file(s) with Glatzel/template (#76)
  ruff.toml
Due: check-toml, toml-format

chore: Delete rust/scripts/cargo-machete.ps1
  rust/scripts/cargo-machete.ps1
Due: none

chore: Delete rust/scripts/cargo-machete.ps1 (#79)
  rust/scripts/cargo-machete.ps1
Due: none

chore: Update settings.json
  .vscode/settings.json
Due: check-json

chore: Update settings.json (#81)
  .vscode/settings.json
Due: check-json

f
  .github/workflows/ci-python.yml
  python/pixi.lock
  python/pyproject.toml
Due: check-yaml, check-toml, actionlint, toml-format

chore: update configuration files synced file(s) with Glatzel/template (#82)
  cliff.toml
  pre-commit/pixi.toml
  ruff.toml
  rust/Cargo.toml
Due: check-toml, toml-format

Update ci.yml
  .github/workflows/ci.yml
Due: check-yaml, actionlint

Add files via upload
  .github/workflows/pre-commit.yml
Due: check-yaml, actionlint

chore: update configuration files synced file(s) with Glatzel/template (#84)
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pre-commit/pixi.lock
  pre-commit/pixi.toml
Due: check-yaml, check-toml, actionlint, toml-format

Path conditions:
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$
  toml-format: any of: \.toml$
  numpydoc: any of: \.py$
  cargo-fmt: any of: .*/cargo-fmt.ps1
  cargo-clippy: any of: .*/cargo-clippy.ps1
